.elements__ico {
  width: 22px;
  height: 19px;
  background-image: url("../../../images/elements__ico.svg");
  background-size: cover;
  background-position: center;
  fill: rgb(0,0,0);
  background-color: rgb(255,255,255);
  border: none;
  cursor: pointer;
}

.elements__ico:hover {
  opacity: 0.5;
}

.elements__ico:active {
  background-image: url("../../../images/elements__ico-active.svg");
  opacity: 1;
}
