.header {
    max-width: 880px;
    width: 100%;
    box-sizing: border-box;
    min-height: 74px;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
    background-image: url("../../../images/Logo.svg");
    background-repeat: no-repeat;
}

@media all and (max-width: 1279px) {
    .header {
        background-position-x: 27px;
        min-height: 56px;
        background-size: 103.74px 24.4px;
    }
}