.popup__save-button {
  margin-top: 48px;
  height: 50px;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  background-color: #000;
  border-radius: 2px;
  border: none;
}

.popup__save-button:hover {
  opacity: 0.8;
}

@media all and (max-width: 1279px) {
  .popup__save-button {
    margin-top: 45px;
    height: 46px;
    font-size: 14px;
    line-height: 17px;
  }
}
