.profile__avatar-overlay {
  display: none;
  position: absolute;
  width: 120px;
  height: 120px;
  background: rgba(0, 0, 0, 0.8);
  background-image: url("../../../images/edit.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 26px 26px;
}
